/* line 1, ../sass/tetris.scss */
body {
  width: 220px;
}

/* line 4, ../sass/tetris.scss */
h1 {
  margin: 0px auto;
  text-align: center;
  font-family: "Wendy One", serif;
  font-size: 40px;
  text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.9);
}

/* line 11, ../sass/tetris.scss */
#score {
  width: 220px;
  margin: 0 auto;
  padding: 0 auto;
}
/* line 15, ../sass/tetris.scss */
#score dl {
  font-size: 18px;
  margin: 10px auto;
  padding: 10px;
}
/* line 19, ../sass/tetris.scss */
#score dl dt {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 24, ../sass/tetris.scss */
#score dl dd {
  float: left;
  margin: 0;
  padding: 0;
}

/* line 32, ../sass/tetris.scss */
#moni {
  width: 220px;
  height: 420px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 5px rgba(255, 0, 0, 0.9);
}

/* line 38, ../sass/tetris.scss */
#target {
  background-color: #323232;
  padding: 0px;
  margin-top: 5px;
  margin-left: 5px;
}
